﻿@{
    ViewBag.Title = "Index";
}

<h1>Authentication</h1>
<div>
    @using (Html.BeginForm("FormSubmit", "Auth", FormMethod.Post))
    {
        <div class="g-recaptcha" data-sitekey="6LfI3gwbAAAAADoAcqFJM9_KzD2rddPzOVgTPNai"></div>
        <input type="submit" value="Submit" />
    }
</div>

<span>
    @ViewData["Message"]
</span>

<script src="https://www.google.com/recaptcha/api.js"></script>
