﻿@model EmailModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row row-title">
    <div class="bg-title col-md-5">
        <h1 class="display-4">Welcome To</h1>
        <h2 class="display-2">REDD</h2>
    </div>
    <div class="bg-title2 col-md-5">
        <h3>Quick Mail Service For Effective Collaboration.</h3>
    </div>
</div>
<div class="row row-form">
    @*<div class="bg-img col-md-6">
            <img id="image" src="~/Assets/person1.png">
        </div>*@
    <div class="bg-form col-md-6">
        <form id="form">
            <h1 class="title-new-email">New Email</h1>
            <label>From: </label>
            <input id="sender_email" name="Email" class="email-input email-from" type="text" placeholder="Sender's email address" value="kamalshanth@peachit.lk" />
            <input id="sender_fullname" class=" email-input email-from" type="text" placeholder="Sender's Fullname" value="Kamalshanth Selvarajah" />

            <label>To: </label>
            <input id="receiver_email" class="email-input email-to" type="text" placeholder="Receiver's email address" />
            <input id="receiver_fullname" class=" email-input email-from" type="text" placeholder="Receiver's Fullname" />

            <label>Content: </label>
            <input id="subject" class="email-input email-sub" type="text" placeholder="Enter your subject" />
            <textarea id="message" class="email-msg" placeholder="Enter your message"></textarea>

            <label>Select a Template </label>
            <select name="templates" id="templates" class="email-input templates">
                <option value='{"id":"d-743590e5c36341b1abb64259ed55d969","name":"welcome"}'>Welcome</option>
                <option value='{"id":"d-f30c1543f5894f9eb30cd3f0fd4571f9","name":"services"}'>Service</option>
            </select>

            <label for="myfile">Select a Attachment</label>
            <input type="file" id="file" name="myfile">

            <button id="btn_add" type="submit" value="Add">Add</button>
        </form>
    </div>

    <div class="bg-emails col-md-6">
        <div class="emails-section">
            <h1 class="title-emails">Emails Queue
                <span id="emails_count">0</span>
            </h1>
            <div id="email_list"></div>
            <button id="btn_send">Send</button>
        </div>
    </div>

</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
