﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: rgb(224, 6, 6) !important;
  font-weight: bold;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  min-height: 100%;
}

body {
  margin-bottom: 400px;
  padding-bottom: 400px;
  background: rgb(211, 25, 25);
}
.footer {
    display: none;
    position: absolute;
    top: 100%;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background: yellow;
    color: black;
}
.bg-img{
  height: 100vh;
  width: 100%;
  margin-top: 20px;
  padding: 0;
  box-shadow: 14px 16px 5px #8a0f0f62;
  background: rgba(211, 25, 25, 0);
  overflow: hidden;
}

.bg-img img{
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: transform .4s;
}

.bg-img img:hover {
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transform-origin: 50% 50%;
}

.bg-form{
  background: rgba(211, 25, 25, 0);
  height: auto;
  width: 100%;
}

.bg-emails{
  height: auto;
  width: 100%;
}

.bg-title h1 {
    color: white !important;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: -20px;
}

.bg-title h2 {
    color: white !important;
    font-weight: 900;
    font-size: 160px;
    text-shadow: 20px 10px #8a0f0f7c;
}

.bg-title2 h3 {
    color: white !important;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 40px;
}

.privacy {
  color: white;
}

#form{
  padding: 20px 60px;
}

.emails-section{
  padding: 20px 60px 10px;
  width: 100%;
  height: auto;
}

.emails-section .title-emails{
  color: white;
  margin-bottom: 60px;
}

#emails_count{
    color: orangered;
    border-radius: 50px;
    width: auto;
    height: auto;
    padding: 10px;
    font-size: 30px;
}

#email_list{
  height: 540px;
  overflow: scroll;
  padding: 0;
}
#email_list .placeholder-msg{
  font-size: 20px;
  color: rgba(255, 255, 255, 0.801);
  font-style: italic;
}

#email_list ul{
  color: white;
}

#email_list ul li{
  background: rgba(255, 15, 15, 0.699);
  color: white;
  margin-bottom: 10px;
  padding: 20px 30px;
  list-style: none;
  border-radius: 10px;
  height: auto;
}

#form button{
    background: rgb(211, 25, 25);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 0px;
    width: 100%;
}

#form button:hover{
  background: rgb(184, 16, 16);
}

.email-input{
  background:rgba(255, 255, 255, 0.900);
  color: rgb(0, 0, 0);
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 20px;
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.email-msg {
  background:rgba(255, 255, 255, 0.900);
    color: black;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 20px;
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

#form label {
  font-size: 16px;
  color: white;
  margin: 10px;
  padding: 0px;
}

#form .title-new-email{
  color: white;
  margin-bottom: 20px;
}

.templates {
    padding: 0px 20px;
}

.row-title{
    padding: 40px;
}

.row-title .bg-title2{
    margin-left: 100px;
    padding-top: 40px;
}

.row-form {
    background: rgb(31, 31, 31);
    border-radius: 20px;
    padding: 40px;
}

#btn_send{
  background: rgb(124, 124, 124);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 20px 0px;
  width: 100%;
}

#btn_send:hover{
  background: rgb(102, 102, 102);
}


