﻿@{
    ViewBag.Title = "Index";
}

<h1>Document page</h1>
<div>
    @using (Html.BeginForm("GeneratePDF", "Document", FormMethod.Post))
    {
        <div>
            @Html.Label("URL: ")
            @Html.TextBox("url")
        </div>
        <input id="btnSubmit" type="submit" value="Submit" />
    }

</div>

@*<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    var btn_submit = document.getElementById("btnSubmit");
    var url = document.getElementById("url");
    btn_submit.addEventListener('click', () => submitForm(url.value));

    function submitForm(url) {
        console.log({ url: JSON.stringify(url) });
        $.ajax({
            url: '/Document/GeneratePDF',
            data: JSON.stringify(url),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: "POST",
        });
    }

</script>*@
